body {
	padding: 5px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
}
.wrapper {
	max-width: 767px;
	width: 100%;
	min-height: 600px; /* prov */
	border: 1px solid #f0f0f0;
	border-radius: 2px;
	margin: 0 auto;
	position: relative;
}

.header {
	border-bottom: 1px solid #f0f0f0;
	background: #00b2e4;
}

.col20 {
	float: left;
	width: 20%;
	padding: 40px 10px 20px;
	color: #fff;
	font-size: 21px;
}
.col20 img {margin-left: 5px;}

.col20 * {
	vertical-align: middle;
}

@media (max-width: 600px) {
	.col20 img {
		display: block;
		margin: 0 auto;
	}
}

.body {
	background: #f0f0f3;
	min-height: 500px;
}

.sub-header {
	background: #fff;
	padding: 10px 20px;
}

.sub-header .performance {
	color: #676767;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
}

.sub-header .maney {
	height: 50px;
}

.sub-header .total-maney {
	line-height: 25px;
	font-size: 24px;
	color: #19a522;
}

.sub-header .maney-outcome {
	font-size: 12px;
	line-height: 25px;
	color: #fb0c0c;
}

.prajact-list {
	padding: 20px;
}

.prajact-list .prajact {
	margin-bottom: 20px;
}

.prajact .workload {
	border: 1px solid #000;
	border-radius: 2px;
}

.prajact .workload > div {
	height: 20px;
	width: 20%;
	float: left;
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.prajact .workload > div:hover {opacity: 1;}

.prajact .workload .design {background: blue;}
.prajact .workload .integration {background: green;}
.prajact .workload .programmation {background: brown;}
.prajact .workload .seo {background: pink;}
.prajact .workload .quality-control {background: purple;}

.footer-tabs a.tab {
	color: #000;
	background-color: #b1b1b3;
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: background-color .25s ease-in-out;
	-moz-transition: background-color .25s ease-in-out;
	-webkit-transition: background-color .25s ease-in-out;
	height: 100px;
}

.footer-tabs {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer-tabs a.tab:hover {background-color: #363636; text-decoration: none; color: #fff;}

.footer-tabs a.tab-projects {background-image: url(../img/btn-projects.png); background-position: center; background-repeat: no-repeat;}
.footer-tabs a.tab-ressources {background-image: url(../img/btn-ressources.png); background-position: center; background-repeat: no-repeat;}
.footer-tabs a.tab-performance {background-image: url(../img/btn-performance.png); background-position: center; background-repeat: no-repeat;}

.footer-tabs a.tab-projects:hover {background-image: url(../img/btn-projects-blanc.png); background-position: center; background-repeat: no-repeat;}
.footer-tabs a.tab-ressources:hover {background-image: url(../img/btn-ressources-blanc.png); background-position: center; background-repeat: no-repeat;}
.footer-tabs a.tab-performance:hover {background-image: url(../img/btn-performance-blanc.png); background-position: center; background-repeat: no-repeat;}

