<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Jeu Hackaxial</title>

		<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
		<!-- Bootstrap -->
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

		<!-- custom.css -->
		<link href="css/custom.css" rel="stylesheet">
		<link href="css/animate.css" rel="stylesheet">
		<style>
			.done {
				text-decoration: line-through;
			}
		</style>

		<!-- Bower components -->
		<script src="bower_components/angular/angular.min.js"></script>

		<!-- JavaScript -->
		<script src="src/build.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>

		<div class="wrapper">
	      <div class="header clearfix">

	        <div class="col20 text-center">
	        1<img src="../img/vendeur.png">
	        </div>
	        <div class="col20 text-center">
	        1<img src="../img/stratege.png">
	        </div>
	        <div class="col20 text-center">
	        4<img src="../img/developpement.png">
	        </div>
	        <div class="col20 text-center">
	        1<img src="../img/design.png">
	        </div>
	        <div class="col20 text-center">
	        2<img src="../img/management.png">
	        </div>
	      </div>

	      <div class="body">
	        <div class="sub-header clearfix">
	          <div class="performance pull-left">
	            Performance : 1.5x
	          </div>
	          <div class="maney pull-right text-right" ng-controller="InfoCtrl">
	            <div class="total-maney animated pulse">{{game.money | currency}}</div>
	            <div class="maney-outcome">- {{game.costs | currency}}</div>
	          </div>
	        </div>

	        <div class="prajact-list clearfix">

	          <div class="prajact clearfix">
	            <div class="prajact-header clearfix">
	              <div class="name pull-left">Site Web Université</div> <div class="total-income pull-right">10 000 $</div>
	            </div>
	            <div class="workload clearfix">
	              <div class="design" data-percentage="20"></div>
	              <div class="integration" data-percentage="20"></div>
	              <div class="programmation" data-percentage="20"></div>
	              <div class="seo" data-percentage="20"></div>
	              <div class="quality-control" data-percentage="20"></div>
	            </div>
	          </div>

	          <div class="prajact clearfix">
	            <div class="prajact-header clearfix">
	              <div class="name pull-left">Site Web Université</div> <div class="total-income pull-right">10 000 $</div>
	            </div>
	            <div class="workload clearfix">
	              <div class="design" data-percentage="20"></div>
	              <div class="integration" data-percentage="20"></div>
	              <div class="programmation" data-percentage="20"></div>
	              <div class="seo" data-percentage="20"></div>
	              <div class="quality-control" data-percentage="20"></div>
	            </div>
	          </div>

	        </div><!-- prajact-list -->

	      </div><!-- body -->

	      <div class="footer-tabs text-center">
	        <a href="" class="tab tab-projects col-xs-4"></a>
	        <a href="" class="tab tab-ressources col-xs-4"></a>
	        <a href="" class="tab tab-performance col-xs-4"></a>
	      </div>

	    </div><!-- wrapper -->
		
		<div ng-controller="InfoCtrl">
			<h1>Jeu Hackaxial</h1>

			<p>Argent: {{game.money | currency}}</p>
			<p>Coûts: {{game.costs | currency}}</p>
		</div>

		<div ng-controller="ResourcesCtrl">
			<h2>Ressources</h2>
			<ul>
				<li ng-repeat="res in resources">
					<p>{{res.name}}</p>
					<p>Coût: {{res.cost | currency}}</p>
					<p>Skill: {{res.skill}}</p>
					<button class="btn" ng-hide="res.hired" ng-click="hire($index)">Engager</button>
				</li>
			</ul>
		</div>

		<div ng-controller="ProjectsListingCtrl">
			<h2>Offres de projets</h2>
			<ul>
				<li ng-repeat="project in listing">
					<p>{{project.name}}</p>
					<p>Valeur: {{project.value | currency}}</p>
					<p>Durée: {{project.duration}}</p>
					<button class="btn" ng-hide="project.hired" ng-click="accept($index)">Accepter</button>
				</li>
			</ul>
		</div>

		<div ng-controller="ProjectsCtrl">
			<h2>Projets en cours</h2>
			<ul>
				<li ng-repeat="project in projects">
					<p ng-class="{done: project.completed}">{{project.name}} ({{project.duration}})</p>
					<p>Temps complété: {{project.completedTime}}</p>
				</li>
			</ul>
		</div>
	</body>
</html>